{{ define "head" }}
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta
            name="viewport"
            content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <title>{{ .Title }}</title>
        <meta name="keywords" content="HTML5 Template" />
        <meta name="description" content="Web Template" />
        <meta name="author" content="Gurunandan Bhat" />
        <!-- Favicon -->
        <link
            rel="icon"
            type="image/x-icon"
            href="/assets/images/icons/favicon.png" />
        <!-- Plugins CSS File -->
        <link rel="stylesheet" href="/assets/css/bootstrap.css" />
        <!-- Main CSS File -->
        <link rel="stylesheet" href="/assets/css/index.css" />
    </head>
{{ end }}
